<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ResidualAnalysis.Properties.Settings.ConnectionString"
            connectionString="Dsn=EQTGDBDEV1_DS;uid=eqjobs;pwd=jobs99"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>